NEXT_PUBLIC_SUPABASE_URL=https://bclxehkdwggptuicedoq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJjbHhlaGtkd2dncHR1aWNlZG9xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMwODIxNzMsImV4cCI6MjA4ODY1ODE3M30.QYxrCsHi-ZOozNlWLKgMyAMODIWhBLrxg2gtWn_1nTA
